.principal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.flex-container {   
  
  height: 95vh;
  width: 95%;    
  padding: 3px;
  margin: 10px;
  

  background-color: rgba(114, 183, 230, 0.295);
  border: 1px solid rgb(0, 153, 255);
  border-radius: 10px;
  

}



.form {
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap; 
  height: 100%;    
  justify-content: space-between;
  
}
